<div class="form">
  <h1>Checkout</h1>
  <p>Thanks for your purchase <span>{{client}}.</span> Your order number is:
    <span> {{ticketNumber}} </span>
  </p>
  <p> We send you an e-mail to <span> {{email}} </span> with all the info.</p>
  <div class="row justify-content-center">
    <a class="btn btn-primary mb-2" href="/products">Store</a>
    <a class="btn btn-primary" href="/api/users/profile">My Profile</a>
  </div>
</div>