<div class="form">
  <h1>Checkout</h1>
  <p>Thanks for your purchase<span>{{client}}</span>Your order number is:
    <span> {{ticketNumber}} </span>
  </p>
  <p> We send you an e-mail to <span> {{email}} </span> with all the info.</p>
  <div class="grupo-btn">
    <a class="btnMios noSub" href="/products">Store</a>
    <a class="btnMios noSub" href="/api/users/profile">My Profile</a>
  </div>
</div>