<section class="home">
  <div class="home-description">
    <h2 class="home-text ms-5 d-none d-md-block">WELCOME TO TENNIS WORLD</h2>
    <img
      class="imagen-principal"
      src="img/imagen-banner.webp"
      alt="imagen-banner"
    />
  </div>
</section>