<section class="home">
  <div class="home-description">
    <h1 class="d-none d-md-block">Welcome to Tennis World</h1>
    <img
      class="imagen-principal"
      src="img/imagen-banner.webp"
      alt="imagen-banner"
    />
  </div>
</section>