<h1>Login</h1>
<form class="form" action="/api/users/login" method="POST">
  <label for="email">Email</label>
  <input class="inputLogin" type="email" id="email" name="email" required />
  <br />
  <label for="password">Password</label>
  <input
    class="inputLogin"
    type="password"
    id="password"
    name="password"
    required
  />
  <br />
  <button class="btn btn-primary" type="submit">Login</button>
</form>

<p class="text-center">If you don't have an account click here for
  <a href="/register">register</a></p>