<h1> Restore your Password </h1>

<form class="form" action="/api/users/reset-password" method="POST">
  <label for="email"> Email: </label>
  <input class="inputLogin" type="email" id="email" name="email" required />

  <label for="token"> Confirmarion Number: </label>
  <input class="inputLogin" type="text" id="token" name="token" required />

  <label for="password"> New Password: </label>
  <input class="inputLogin" type="password" id="password" name="password" required />

  <button class="btn btn-primary w-100" type="submit"> Reset Password </button>
</form>

{{#if error}}
  <p class="error"> {{error}} </p>
{{/if}}
