<h1>Products in Real Time</h1>
<div id="containerProducts"></div>

<h2 class="text-center">Add Product Form</h2>
<form>
  <input type="text" id="title" placeholder="Title" />
  <input type="text" id="description" placeholder="Description" />
  <input type="number" id="price" placeholder="Price" />
  <input type="text" id="code" placeholder="Code" />
  <input type="number" id="stock" placeholder="Stock" />
  <input type="text" id="category" placeholder="Category" />
  <input type="text" id="thumbnails" placeholder="No Image" />
  <select id="status">
    <option value="true">Active</option>
    <option value="false">No Active</option>
  </select>
  <button id="btnSend" class="btn btn-primary">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>