@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem;
}

.containerProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 2rem;
  margin: 2rem;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 8rem;
}
.nav .logo img {
  width: 8rem;
}
.nav .main-menu li {
  font-size: 1.2rem;
  list-style: none;
  display: inline;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav .main-menu a {
  color: white;
  text-decoration: none;
}
.nav .main-menu a:hover {
  color: grey;
}

/* BOTONES NAVBAR*/

.btnLogin,
.btnCarrito {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #244ced;
  color: white;
  border: solid 1px #244ced;
  font-size: 1.2rem;
  padding: 0.1rem 1rem;
  margin-left: 1rem;
}
.btnLogin:hover,
.btnCarrito:hover {
  background-color: white;
  color: #0075ff;
}
.buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN */

h1 {
  text-align: center;
  margin-top: 10rem;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.inputLogin {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
.home-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 8rem;
}
.home-description h2 {
  position: absolute;
  top: 400px;
  width: 100vw;
  color: white;
  font-size: 3.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 2rem;
  text-shadow: 2px 2px 2px black;
}
.imagen-principal {
  width: 100vw;
}

/*SECCION SOCIAL MEDIA*/

.container-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #333;
}
.container-social-media .img-logo {
  height: 1.8rem;
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: #333;
}
.container-footer h5 {
  color: #ccc9dc;
  font-size: 0.8rem;
  margin: 0;
}
