 <footer>
      <div class="container-social-media">
          <a href="https://www.facebook.com/" target="_blank">
              <img class="img-logo" src="./img/facebook.svg" alt="logo facebook">
          </a>
          <a href="https://www.instagram.com/" target="_blank">
              <img class="img-logo" src="./img/instagram.svg" alt="logo instagram">
          </a>
          <a href="https://twitter.com/" target="_blank">
              <img class="img-logo" src="./img/twitter.svg" alt="logo twitter">
          </a>
      </div>
      <div class="container-footer">
          <h5>COPYRIGHT® All Rights Reserved</h5>
      </div>
  </footer>