<header>
  <nav class="nav fixed-top bg-dark">
    <div class="logo">
      <a href="./index.html">
        <img src="./img/logo.png" alt="logo" />
      </a>
    </div>
    <div class="menu">
      <ul class="main-menu mb-0 p-0">
        <li class="btnCategoria seleccionado" data-categoria="MLA1323"><a
            href="#"
          >Clothing</a></li>
        <li class="btnCategoria" data-categoria="MLA12209"><a
            href="#"
          >Strings</a></li>
        <li class="btnCategoria" data-categoria="MLA438308"><a
            href="#"
          >Equipment</a></li>
        <li class="btnCategoria" data-categoria="MLA1325"><a
            href="#"
          >Accessories</a></li>
      </ul>
    </div>
    <div class="get-started">
      <a href="/login" class="btnLogin" id="botonLogin">Sign in</a>
      <button
        class="btnCarrito"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"
      ><i class="bi bi-cart"></i>
        <span
          id="cantidadProductos"
          class="position-absolute ms-3 translate-middle badge rounded-pill bg-danger"
        > 1 </span></button>
    </div>
  </nav>
</header>